<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
  <title>MafiaMatrix Home</title>
<style>

body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: right;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 470px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;

  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 8px;
}



</style>
</head>
<body>

<center><h2>Main Menu</h2></center>
<div class="tab">
  <button class="tablinks" ><font size="1">Earn:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Action:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Whack:<br>Ready</font></button>

   <button class="tablinks" ><font size="1">Launder:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Travel:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Case:<br>Ready</font></button>
   <button class="tablinks" ><font size="1">Trafficking:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Skill:<br>Ready</font></button>
  <button class="tablinks" ><font size="1">Event:<br>Ready</font></button>

  <button class="tablinks" ><font size="1">AggPro:<br>Ready</font></button>


</div>

<b>Name:</b> <%= name%>

{{{body}}}

</body>
</html>
