
<html>
<meta name="viewport" content="width=device-width, initial-scale=0.6">
<head>
title= title
</head>

style
     include style.css

<body>
<center><h1>MafiaMatrix Login Page</h1></center>
<form action="/" method="POST">
<center><br>Email:   <br> <input type="text" name="email"></center>
<center><br>Password: <br><input type="password" name="password"></center>
<center><br><input type="submit"></center>
</form>

</body>
</html>
