<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<title>Login Page</title>
</head>


<style media="screen">

body {
    background-image: url(https://media.discordapp.net/attachments/515715695464415247/577959687568359427/MMBackgroundpic1.jpg?width=852&height=639);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% top;
    background-attachment: fixed
 }


</style>

<body>
<center><h1>MafiaMatrix Login Page</h1></center>
<form action="/" method="POST">
<center><br>Email:   <br> <input type="text" name="email"></center>
<center><br>Password: <br><input type="password" name="password"></center>
<center><br><input type="submit"></center>


</form>

{{{body}}}


</body>
</html>
